NODE_ENV=development
PORT=3000

DB_HOST=localhost
DB_PORT=5433
DB_USERNAME=haymclub_admin
DB_PASSWORD=change-me
DB_NAME=haymclub_academy
DB_SYNCHRONIZE=true
DB_LOGGING=false

REDIS_HOST=localhost
REDIS_PORT=6380

JWT_ACCESS_SECRET=change-me
JWT_ACCESS_EXPIRES_IN=900

JWT_REFRESH_SECRET=change-me
JWT_REFRESH_EXPIRES_IN=30d

FRONTEND_URL=http://localhost:5173
